body {
	background-color: maroon;
	font-family: 'Oxygen', sans-serif;
	color: white;
}

#header-nav {
	background-color: #ffdb4d;
	border-radius: 0;
	border: 0;
}

#img-margin {
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0px;
}


.navbar-brand h1 {
	font-family: 'Lora', serif;
	color:  #557c3e;
	font-size: calc(1em + 0.5vw);
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 0;
	line-height: 0.1;
}

.navbar-brand a {
	text-decoration: none;
}

.navbar-brand span {
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
}


.navbar-brand p span {
	vertical-align: middle;
}

.nav-item:hover {
	background-color: rgba(179, 23, 12, 0.5);
	transition: 0.5s;
}

.tile-text {
	background-color: rgba(96,96,96, 0.7);
}
.card-img-overlay {
	padding: 0.7rem;
}

h2.flex-fill {
	text-decoration: none;
}

.footer {
	padding: 50px;
}
.br-add {
	border-radius: 30%;
}

@media (min-width: 1199px) {
	div.card.menu-cat {
		height: 200px;
		overflow: hidden;
	}
}


